---
import Hero4 from "@/blocks/hero-4"
import { getEntry } from "astro:content"

const article = await getEntry("articles", "test")
// const populatedPost = article && (await populateEntryRecursively(article))
// console.log(populatedPost)

// const obj = article && (await transformReferences(article, 3))
---

<html>
  <body>
    <Hero4 {...article}>
      <p>Hello</p>
    </Hero4>
    <pre>{JSON.stringify(article, null, 2)}</pre>
  </body>
</html>
