---
import Block from "@/components/block.astro"
import Layout from "@/components/layout.astro"

export async function getStaticPaths() {
  const lezingen = [
    {
      file: "/lezingen/Lezing Ank Achtvoudige Pad Maanhoeve aug 25.m4a",
      slug: "lezing-ank-achtvoudige-pad-maanhoeve-aug-25",
      title: "Lezing Ank Achtvoudige Pad Maanhoeve aug 25",
    },
    {
      file: "/lezingen/Lezing Ank denken Maanhoeve aug 25.m4a",
      slug: "lezing-ank-denken-maanhoeve-aug-25",
      title: "Lezing Ank denken Maanhoeve aug 25",
    },
    {
      file: "/lezingen/Lezing Ank onthechten en verbinden Maanhoeve aug25.m4a",
      slug: "lezing-ank-onthechten-en-verbinden-maanhoeve-aug25",
      title: "Lezing Ank onthechten en verbinden Maanhoeve aug25",
    },
    {
      file: "/lezingen/Lezing Ank ritme Maanhoeve aug 25.m4a",
      slug: "lezing-ank-ritme-maanhoeve-aug-25",
      title: "Lezing Ank ritme Maanhoeve aug 25",
    },
    {
      file: "/lezingen/Lezing Ank wijsheid compassie Maanhoeve aug 25.m4a",
      slug: "lezing-ank-wijsheid-compassie-maanhoeve-aug-25",
      title: "Lezing Ank wijsheid compassie Maanhoeve aug 25",
    },
    {
      file: "/lezingen/Lezing Katleen metta Maanhoeve aug 25.m4a",
      slug: "lezing-katleen-metta-maanhoeve-aug-25",
      title: "Lezing Katleen metta Maanhoeve aug 25",
    },
    {
      file: "/lezingen/Lezing Katleen niet zelf Maanhoeve aug 25.m4a",
      slug: "lezing-katleen-niet-zelf-maanhoeve-aug-25",
      title: "Lezing Katleen niet zelf Maanhoeve aug 25",
    },
    {
      file: "/lezingen/Lezing Katleen veranderlijkheid, Maanhoeve aug 25.m4a",
      slug: "lezing-katleen-veranderlijkheid-maanhoeve-aug-25",
      title: "Lezing Katleen veranderlijkheid, Maanhoeve aug 25",
    },
    {
      file: "/lezingen/Lezing Katleen, 1 Maanhoeve aug 25.m4a",
      slug: "lezing-katleen-1-maanhoeve-aug-25",
      title: "Lezing Katleen, 1 Maanhoeve aug 25",
    },
  ]
  return lezingen.map((lezing) => {
    return {
      params: {
        lezing: lezing.slug,
      },
      props: lezing,
    }
  })
}

const { file, ...data } = Astro.props
---

<Layout {...data}>
  <div
    class="mx-auto flex min-h-[50vh] max-w-screen-md flex-col items-center gap-12 px-4 py-16"
  >
    <h1 class="text-3xl font-bold">{Astro.props.title}</h1>
    <audio controls class="w-full">
      <source src={Astro.props.file} type="audio/mpeg" />
    </audio>
  </div>
</Layout>
